

<div class="wallet-summary">
  <% for wallet in @wallet%>
    <%=wallet.wallet_name%>
    <br>
    <ul>
    <li>Current balance: £<%=wallet.update_cash_balance%>0</li>
    <li>Budget amount: £<%=wallet.budget_amount%>0</li>
    <li>Budget period: <%=wallet.number_of_days_in_budget%> day budget between <%=wallet.budget_start_date%> - <%=wallet.budget_end_date%></li>
    <br>
    <br>
    <%=wallet.budget_overspend_warning%>
    <br>
    <br>
</ul>
<button> <a href="/wallet/<%=wallet.id%>/edit">Update budget info</a></button>
<%end%>
</div>

<h5>Transactions during current budget period:</h5>

<form action="/wallet/sort" method="POST" id="sort-transactions">

<label for="order-transactions">Sort transactions:</label>

<select id="sort-transactions" form="sort-transactions" name="input">
    <option value="">--Please choose an option--</option>
    <option value="date_newest">Order by date - newest to oldest (default)</option>
    <option value="date_oldest">Order by date - oldest to newest</option>
    <option value="tag">Order by tag (A-Z)</option>
    <option value="type">Order by transaction type (A-Z)</option>
    <option value="merchant">Order by merchant (A-Z)</option>
</select>
<button>Sort</button>
</form>

<br>
<br>

<table class="wallet-table">
  <thead>
    <th scope ="col">Date</th>
    <th scope ="col">Merchant</th>
    <th scope ="col">Type</th>
    <th scope ="col">Amount</th>
    <th scope ="col">Tag</th>
  </thead>

  <tbody>
    <tr>
      <%for transaction in @transactions%>
      <td><%=transaction.transaction_date%></td>
      <td><%=transaction.shop_name%></td>
      <td><%=transaction.transaction_type%></td>
      <td><%=transaction.amount%></td>
      <td><%=transaction.tag_name%></td>
      </td>
    </tr>
  <%end%>
  </tbody>


  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td colspan="3">£<%=@wallet1.budget_total_spend%>0</td>
  </tfoot>
</table>
