<form class="form" action="/transactions" method="post">

  <div class="form-row">
  <label for="wallet_select">Select wallet:</label>
  <select id= "wallet_select" name="wallet_id" >

    <% @wallet.each do |wallet| %>
      <option value=<%= wallet.id %>><%= wallet.wallet_name %></option>
    <% end %>
  </select>
  </div>


  <div class="form-row">
  <label for="merchant_select">Select merchant (add <a href="/merchants/new">new</a> if not listed):</label>

  <select id="merchant_select" name="merchant_id" >
    <option value="">--Please choose an option--</option>
    <% @merchants.each do |merchant|%>
      <option value=<%= merchant.id%>><%=merchant.merchant_name%></option>
      <% end %>
  </select>
  </div>


  <div class="form-row form-radio">
    <label for="transaction-type">Transaction type:</label>
    <br>
    <input id="transaction-type" type="radio" value="Purchase" name="transaction_type" required>Purchase<br>
    <input id="transaction-type" type="radio" value="Refund" name="transaction_type" required>Refund<br>
  </div>



  <div class="form-row">
    <label for="amount">Amount:</label>
    <input type="number" name="amount" min="0" required>
  </div>



  <div class="form-row">
    <label for="date">Transaction date:</label>
    <input type="date" name="transaction_date" required>
  </div>



  <div class="form-row">
    <label for="tag_select">Select tag:</label>
    <select id= "tag_select" name="tag_id">
      <option value="">--Please choose an option--</option>
      <% @tags.each do |tag| %>
      <option value=<%= tag.id %>><%= tag.tag_name %></option>
    <% end %>
  </select>
  </div>


  <div class="form-row">
  <input type="submit" value="Save transaction">
  </div>

</form>
