<h3>Transactions</h3>

<p><a href="/transactions/new">Add transaction</a></p>

<table>
  <thead>
    <th scope ="col">Date</th>
    <th scope ="col">Shop</th>
    <th scope ="col">Type</th>
    <th scope ="col">Amount</th>
    <th scope ="col">Tag</th>
    <th scope ="col">Amend<th>
  </thead>

  <tbody>
    <tr>
      <%for transaction in @transactions%>
      <td><%=transaction.transaction_date%></td>
      <td><%=transaction.shop_name%></td>
      <td><%=transaction.transaction_type%></td>
      <td><%=transaction.amount%></td>
      <td><%=transaction.tag_name%></td>
      <td><a href="/transactions/<%=transaction.id %>/edit">Edit</a>
      </td>
    </tr>
  <%end%>
  </tbody>


  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td colspan="2"><%=Transaction.total%></td>
  </tfoot>
</table>
