<h3>Transactions</h3>

<table>
  <thead>
    <th scope ="col">Date</th>
    <th scope ="col">Shop</th>
    <th scope ="col">Amount</th>
    <th scope ="col">Type</th>
    <th scope ="col">Tag</th>
  </thead>

  <tbody>
    <tr>
      <%for transaction in @transactions%>
      <td><%=transaction.transaction_date%></td>
      <td><%=@merchants.find(transaction.merchant_id).merchant.name%></td>
      <td><%=transaction.amount%></td>
      <td><%=transaction.transaction_type%></td>
      <td><%=(@tags.find(transaction.tag_id).tag_name)%></td>
      <%end%>
  </tbody>


  <tfoot>
    <tr>
      <td>Total</td>
      <td><%=transaction.total%></td>
  </tfoot>
</table>
