<h3>Transactions</h3>

<p><a href="/transactions/new">Add transaction</a></p>


<form action="/transactions/sort" method="POST" id="sort-transactions">

<label for="order-transactions">Sort transactions:</label>

<select id="sort-transactions" form="sort-transactions" name="input">
    <option value="">--Please choose an option--</option>
    <option value="date">Order by date (default)</option>
    <option value="tag">Order by tag (A-Z)</option>
    <option value="type">Order by transaction type (A-Z)</option>
    <option value="merchant">Order by merchant (A-Z)</option>
</select>
<button>Sort</button>
</form>

<br>
<br>

<table>
  <thead>
    <th scope ="col">Date</th>
    <th scope ="col">Shop</th>
    <th scope ="col">Type</th>
    <th scope ="col">Amount</th>
    <th scope ="col">Tag</th>
    <th scope ="col">Amend</th>
  </thead>

  <tbody>
    <tr>
      <%for transaction in @transactions%>
      <td><%=transaction.transaction_date%></td>
      <td><%=transaction.shop_name%></td>
      <td><%=transaction.transaction_type%></td>
      <td><%=transaction.amount%></td>
      <td><%=transaction.tag_name%></td>
      <td><a href="/transactions/<%=transaction.id %>/edit">Edit</a></td>
    </tr>
  <%end%>
  </tbody>


  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td colspan="3"><%=Transaction.total%></td>
  </tfoot>
</table>
